<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Pozdravljen <%= username %>, nišče te nima rad...</h1>
    <button><a href="/admin/logout">Odjavi me</a></button>

    <% songs.forEach(song => { %>
        <div>
            <h2> <%= song.title %> </h2>
            <h3> <%= song.lyrics %> </h3>
            <form action="/admin/accSong/<%= song.song_id %>/<%= user_id %>" method="POST">
                <button type="submit" name="button">Potrdi</button>
            </form>
            <form action="/admin/delSong/<%= song.song_id %>/<%= user_id %>" method="POST">
                <button type="submit" name="button">Zavrni</button>
            </form>
        </div>
    <% }) %>
</body>
</html>
